/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Style Reset */

* {
    margin: 0;
    padding: 0;
}

/* Global Styling */

:root {
    --primary-bg: white;
    --primary-text: rgb(72, 66, 66);
    --dark-mode-button-bg: rgb(37, 23, 4);
    --dark-mode-button-text:rgb(246, 244, 232);
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --container-color: rgb(255, 255, 255);
    --carousel-color: antiquewhite;
}

[data-theme="dark"] {
    --primary-bg: rgb(37, 23, 4);
    --primary-text: rgb(246, 244, 232);
    --dark-mode-button-bg: antiqueWhite;
    --dark-mode-button-text: rgb(72, 66, 66);
    --box-shadow-color: rgba(28, 28, 28, 0.2);
    --container-color: rgb(71, 69, 69);
    --carousel-color: rgb(71, 69, 69);
}

html {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    transition: 300ms;
}

li {
    list-style: none;
}

li a, h1 a {
    text-decoration: none;
    color: var(--primary-text);
}

li a:hover {
    text-decoration: underline;
}

#darkModeToggle {
    background-color: var(--dark-mode-button-bg);
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: var(--dark-mode-button-text);
    transition: 300ms;
}

#darkModeToggle:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Header */

header {
    margin: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    display: flex;
    justify-content: space-around;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    padding: 0 1rem;
}

.dark-mode {
    padding-right: 4rem;
}

/* Footer */

@keyframes horizontal-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

footer {
    background-color: var(--carousel-color);
}

.carousel {
    width: 100%;
    height: 350px;
    overflow: hidden;
    white-space: nowrap;
    background: var(--carousel-color);
}

.carousel-container {
    display: inline-block;
    animation: horizontal-scroll 50s linear infinite;
}

.carousel img {
    height: 300px;
    border-radius: 10px;
    margin: 20px 10px;
}

.main-footer {
    padding-top: 2rem;
}

.footer-elements {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-menu ul li {
    padding: 5px 15px;
}

.copyright {
    padding-bottom: 30px;
    font-size: 12px;
    text-align: center;
}